{% extends "::base.html.twig" %}

{% block stylesheet %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset("assets/css/bootstrap.css") }}" rel="stylesheet">
    <!-- shop-homepage CSS -->
    <link href="{{ asset("assets/front/css/shop-homepage.css") }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset("assets/front/css/style.css") }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ asset("assets/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
{% endblock stylesheet %}


{% block body %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Navigation</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>


            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header text-center">
                            {% block title %} 3WA E-Commerce{% endblock title %}
                        </h1>
                        {% block breadcrumb %}
                            <li class="">
                                <i class="fa fa-dashboard"></i> <a href="{{ path('troiswa_front_home') }}">Home</a>
                            </li>

                        {% endblock %}
                    </div>
                </div>
                <!-- /.row -->

                <!-- cette boucle for permet de récupérer tous les messages flashgag nommé success grace a la variable globale app -->
                <!-- les variable globale de twig : http://alexandre.clain.info/twig-les-variables-globales/ -->
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <i class="fa fa-info-circle"></i>  {{ flashMessage }}
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="container">

                    <div class="row">

                        <!-- ici faire une include et utiliser render de twig pour afficher les categorie -->
                        <div class="col-md-3">
                            <p class="lead">Categories</p>
                            <div class="list-group">

                                {{ render(controller('troiswaBackBundle:Category:listCategoryNavFront')) }}

                            </div>
                        </div>

                {% block contenu %}

                {% endblock contenu%}

                </div>  <!-- container -->

            <!--/////////////////////////////////// footer /////////////////////-->
            <footer>

             <hr/>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3 col-md-6">
                                    <div class="container">


                                        {{ render(controller('troiswaFrontBundle:Home:footerProduct')) }}

                                        <!--div class="col-lg-3">
                                            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                <p style="text-align:center; margin-top:20px;">
                                                    <img src="http://placehold.it/500x330" class="img-responsive" alt="">
                                                </p>
                                                <div class="caption">
                                                    <div class="blur"></div>
                                                    <div class="caption-text">
                                                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">THIS IS H3</h3>
                                                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                                                        <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div-->


                                        <div class="col-lg-3 col-md-6">
                                            <h3>Categories:</h3>
                                            <ul>
                                                <li><a href=""><i class="fa fa-file"></i> News</a></li>
                                                <li><a href=""><i class="fa fa-android"></i> Android</a></li>
                                                <li><a href=""><i class="fa fa-code"></i> C#</a></li>
                                                <li><a href=""><i class="fa fa-code"></i> Java</a></li>
                                                <li><a href=""><i class="fa fa-book"></i> Books</a></li>
                                                <li><a href=""><i class="fa fa-globe"></i> Web</a></li>
                                                <li><a href=""><i class="fa fa-windows"></i> Windows</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <h3>Contact:</h3>
                                            <p>Have a question or feedback? Contact me!</p>
                                            <p><a href="" title="Contact me!"><i class="fa fa-envelope"></i> Contact</a></p>
                                            <h3>Follow:</h3>

                                        <hr>
                                        <p>Copyright © Your Website | <a href="">Privacy Policy</a> | <a href="">Terms of Use</a></p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </footer><!--////////////////////////////////////////////////////////////////-->

    </div> <!-- wrapper -->

{% endblock body %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset("assets/front/js/jquery.js") }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("assets/front/js/bootstrap.min.js") }}"></script>



{% endblock javascripts%}