{% extends "troiswaFrontBundle::layout_front.html.twig" %}


{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block title %}
    <h1>Information:</h1>
{% endblock title %}

{% block breadcrumb %}

    <ol class="breadcrumb">
        {{ parent() }}
        <li class="">
            <i class="fa fa-cube"></i> <a href="{{ path('troiswa_front_product') }}">Produits</a>
        </li>
        <li class="active">
            <i class="fa fa-info"></i> Info
        </li>
    </ol>

{% endblock breadcrumb %}

{% block contenu %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>

                <tbody>

                {% set totalPriceProduct = 0 %}

                {% for onproduct in products %}
                <tr>
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{ asset(onproduct.cover.webPath) }}" > </a>
                            <div class="media-body">
                                <h4 class="media-heading"><i class="fa fa-minus"></i> <a href="#"> {{ onproduct.title }}</a></h4>
                                <h4 class="media-heading"><i class="fa fa-minus"></i> by <a href="#"> {{ onproduct.brand.title }}</a></h4>
                                <span><i class="fa fa-info-circle"></i> Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="text" class="form-control" value="{{ panier[onproduct.id].quantity }}">

                        <a class="btn-warning btn-xs" href="{{ path('troiswa_front_product_minus',{id: onproduct.id}) }}"><i class="fa fa-minus"></i></a>
                        <a class="btn-success btn-xs" href="{{ path('troiswa_front_product_plus',{id: onproduct.id}) }}"><i class="fa fa-plus"></i></a>

                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{ onproduct.price }} €</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{ panier[onproduct.id].quantity * onproduct.price  }}</strong></td>
                    <td class="col-sm-1 col-md-1 disablable">
                        <a href="{{ path('troiswa_front_product_remove_cart',{id: onproduct.id}) }}" class="btn btn-danger"> Remove </a>
                    </td>
                </tr>

                    {% set totalPriceProduct = totalPriceProduct + panier[onproduct.id].quantity * onproduct.price %}

                {% endfor %}

                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right">
                        <h3><strong>{{ totalPriceProduct }}</strong></h3>
                    </td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <a href="{{ path('troiswa_front_home') }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a></td>
                    <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                </tr>
                </tbody>

                <a class="btn btn-danger" href="{{ path('troiswa_front_product_delete_cart') }}"> éffacer tous le panier</a>


            </table>
        </div>
    </div>
</div>

{% endblock contenu %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/confirmRemove.js') }}"></script>
{% endblock javascripts %}