{% extends "troiswaFrontBundle::layout_front.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block title %}
    <h1 class="main-heading text-center">3WA E-Commerce</h1>

    <hr/>
{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}


{% block contenu %}
<!-- /////////////////////////////////Page Content ////////////////////////////////////////-->


        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for oneproduct in lastTreeActiveProduct %}

                                {% if loop.first %}
                                    <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" class="active"></li>
                                {% else %}
                                    <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"></li>
                                {% endif %}

                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for oneproduct in lastTreeActiveProduct %}

                                {% if loop.first %}
                                    <div class="item active">
                                        <img class="slide-image" src="{{ asset(oneproduct.cover.webPath) }}" alt="{{ oneproduct.cover.alt }}">
                                    </div>
                                {% else %}
                                    <div class="item">
                                        <img class="slide-image" src="{{ asset(oneproduct.cover.webPath) }}" alt="{{ oneproduct.cover.alt }}">
                                    </div>
                                {% endif %}

                            {% endfor %}

                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                {% for oneproduct in findSixActiveProduct %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src={{ asset(oneproduct.cover.webpath) }} alt="{{ oneproduct.cover.alt }}">
                        <div class="caption">
                            <h4 class="pull-right">{{ oneproduct.price }} &euro; </h4>
                            <h4><a href="{{ path('troiswa_front_product_info',{idprod: oneproduct.id} ) }}">{{ oneproduct.title }}</a>
                            </h4>

                            <a class="btn btn-success" href="{{ path('troiswa_front_product_info',{idprod: oneproduct.id} ) }}">Acheter</a>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>

        </div>

    </div>


{% endblock contenu %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}



