{% extends "troiswaBackBundle::layout_admin.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block title %}
    <h1 class="text-uppercase main-heading text-center">Section utilisateurs:</h1>
{% endblock title %}

{% block breadcrumb %}

    <ol class="breadcrumb">
        {{ parent() }}
        <li class="active">
            <i class="fa fa-cube"></i> Utilisateurs
        </li>
    </ol>

{% endblock breadcrumb %}

{% block contenu %}

    <h2 class="main-heading"><i class="fa fa-fw fa-cube"></i> Toutes les utilisateurs:<a class="btn btn-warning pull-right" href="{{ path('user_new') }}"> Ajouter un utilisateur</a></h2>
    <div class="tab-content">

        <div class="tab-pane active" id="panel-768620">

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <h3 class="text-center main-heading">Gestion rapide des utilisateur:</h3>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Utilisateurs</h4>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filtre utilisateurs" />
                        </div>
                        <table class="table table-hover records_list" id="dev-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Date de naissance</th>
                                <th>Téléphone</th>
                                <th>Pseudo</th>
                                <th>Adresse</th>
                                <th>Actions</th>
                            </tr>
                            </thead>


                            <tbody>

                            {% for entity in entities %}

                                <tr>
                                    <td><a class="btn btn-primary" href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.firstname }}</td>
                                    <td>{{ entity.lastname }}</td>
                                    <td>{{ entity.email }}</td>
                                    <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{{ entity.telephone }}</td>
                                    <td>{{ entity.pseudo }}</td>
                                    <td>{{ entity.adress }}</td>

                                    <td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-success" href="{{ path('user_edit_by_admin', { 'id': entity.id }) }}">
                                                Editer ( admin)
                                            </a>
                                        {% elseif is_granted('ROLE_USER') %}
                                            <a class="btn btn-success" href="{{ path('user_edit', { 'id': entity.id }) }}">
                                                Editer
                                            </a>
                                        {% endif %}
                                    </td>

                                </tr>

                            {% endfor %}

                            </tbody>



                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <ul class="list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('user_new') }}">
                Entrer un nouvel utilisateur
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
