{% extends "troiswaBackBundle::layout_admin.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block title %}
    <h1>Liste de tous les tags</h1>
{% endblock title %}

{% block breadcrumb %}

    <ol class="breadcrumb">
        {{ parent() }}
        <li class="active">
            <i class="fa fa-cube"></i> <a href="">Tag</a>
        </li>
    </ol>

{% endblock breadcrumb %}

{% block contenu %}


    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Word</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tag_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.word }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tag_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tag_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('tag_new') }}">
                Créer un nouveau tag
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
