{% extends "troiswaBackBundle::layout_admin.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block title %}
    <h1 class="text-uppercase main-heading text-center">Section tag:</h1>
{% endblock title %}

{% block breadcrumb %}

    <ol class="breadcrumb">
        {{ parent() }}
        <li class="">
            <i class="fa fa-cube"></i> <a href="{{ path("tag") }}">Tags</a>
        </li>
        <li class="active">
            <i class="fa fa-plus-square-o"></i> ajouter un tag
        </li>
    </ol>

{% endblock breadcrumb %}

{% block contenu %}


    <h2 class="main-heading"><i class="fa fa-fw fa-cube"></i> Ajout de tags:</h2>
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.word, "Entrez la désignation du tag" , { label_attr:{class:"class_du_label"}} ) }}
        {{ form_errors(form.word) }}
        {{ form_widget(form.word, {attr:{class:"form-control "}} ) }}
    </div>

    <div class="form-group">
        {{ form_label(form.product, "Choisissez des produits à associé" , { label_attr:{class:"class_du_label"}} ) }}
        {{ form_errors(form.product) }}
        {{ form_widget(form.product, {attr:{class:"form-control "}} ) }}
    </div>

    {{ form_end(form) }}

    <hr/>

    <ul class="record_actions list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('tag') }}">
                Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
