{% extends "troiswaBackBundle::layout_admin.html.twig" %}



{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block title %}
    <h1 class="text-uppercase main-heading text-center">Section marque</h1>
{% endblock title %}

{% block breadcrumb %}

    <ol class="breadcrumb">
        {{ parent() }}
        <li class="">
            <i class="fa fa-cube"></i> <a href="{{  path("troiswa_back_brand") }}">marques</a>
        </li>
        <li class="active">
            <i class="fa fa-plus-square-o"></i> ajouter une marque
        </li>
    </ol>

{% endblock breadcrumb %}


{% block contenu %}


    <h2 class="main-heading"><i class="fa fa-fw fa-cube"></i> Ajout de marque:</h2>
    {{ form_start(formbrand) }}

    <div class="form-group">
        {{ form_label(formbrand.title, "Entrez le nom de la marque" , { label_attr:{class:"class_du_label"}} ) }}
        {{ form_errors(formbrand.title) }}
        {{ form_widget( formbrand.title, {id:'monid',attr:{class:"form-control toto"}} ) }}
    </div>

    <div class="form-group">
        {{ form_label(formbrand.description, "Entrez la description de la marque:" , { label_attr:{class:"class_du_label"}} ) }}
        {{ form_errors(formbrand.description) }}
        {{ form_widget(formbrand.description, {attr:{class:"form-control toto"}} ) }}
    </div>

    <div class="form-group">
        {{ form_label(formbrand.logo.alt, "Choisissez un alt pour le logo:" , { label_attr:{class:"class_du_label"}} ) }}
        {{ form_errors(formbrand.logo.alt) }}
        {{ form_widget(formbrand.logo.alt, {attr:{class:"form-control"}} ) }}
    </div>

    <div class="form-group">
        {{ form_label(formbrand.logo.figcaption, "Choisissez une légende pour le logo:" , { label_attr:{class:"class_du_label"}} ) }}
        {{ form_errors(formbrand.logo.figcaption) }}
        {{ form_widget(formbrand.logo.figcaption, {attr:{class:"form-control"}} ) }}
    </div>

    <div class="form-group">
        {{ form_label(formbrand.logo.name, "Choisissez un nom pour le logo:" , { label_attr:{class:"class_du_label"}} ) }}
        {{ form_errors(formbrand.logo.name) }}
        {{ form_widget(formbrand.logo.name, {attr:{class:"form-control"}} ) }}
    </div>

    <div class="form-group">
        {{ form_label(formbrand.logo.logofile, "Entez le logo ( png / jpg / jpeg ):" , { label_attr:{class:"class_du_label"}} ) }}
        {{ form_errors(formbrand.logo.logofile) }}
        {{ form_widget(formbrand.logo.logofile, {attr:{class:"toto"}} ) }}
    </div>


    <div class="form-group">
        {{ form_widget(formbrand.envoyer, {label:"Envoyer",attr:{class:"btn btn-warning"}} ) }}
    </div>

    {{ form_end(formbrand) }}

{% endblock contenu %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}