{% extends "troiswaBackBundle::layout_admin.html.twig" %}



{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block title %}
    <h1>Information:</h1>
{% endblock title %}

{% block breadcrumb %}

    <ol class="breadcrumb">
        {{ parent() }}
        <li class="">
            <i class="fa fa-cube"></i> <a href="{{ path('troiswa_back_brand') }}">Marques</a>
        </li>
        <li class="active">
            <i class="fa fa-info"></i> Info
        </li>
    </ol>

{% endblock breadcrumb %}

{%  block contenu %}

    <div class="row">
        <div class="col-lg-12">
            <h2>Information sur la marque {{ brand.title|upper }}</h2>
            <hr/>

            {% if brand.logo != null %}
                <div class="">
                    <img class="img-responsive center-block" src="{{ asset(brand.logo.WebPath) }}" alt="{{ brand.logo.alt }}"/>

                </div>
            {% else %}
                <p class="text-center">Cette marque n'a pas d'image associé</p>
            {% endif %}
            <hr/>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>TITRE</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>{{ brand.id }}</td>
                        <td>{{ brand.title }}</td>
                        <td>{{ brand.description }}</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock contenu %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}