{% extends "troiswaBackBundle::layout_admin.html.twig" %}



{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block title %}
    <h1>Liste des produits:</h1>
{% endblock title %}

{% block breadcrumb %}

    <ol class="breadcrumb">
        {{ parent() }}
        <li class="active">
            <i class="fa fa-cube"></i> Produits
        </li>
    </ol>

{% endblock breadcrumb %}

{%  block contenu %}

<div class="row">
    <div class="col-lg-12">
        <h2>Tous les produits:<a class="btn btn-warning pull-right" href="{{ path('troiswa_back_product_add') }}"> Ajouter un produit</a></h2>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Prix</th>
                    <th>quantité</th>
                    <th>Action </th>
                    <th>Categorie</th>
                </tr>
                </thead>
                <tbody>

                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }}</td>
                    {% if product.quantity == 0 %}
                        <td class="danger">{{ product.quantity }}</td>
                    {% elseif product.quantity < 5%}
                        <td class="warning">{{ product.quantity }}</td>
                    {% else  %}
                        <td class="success">{{ product.quantity }}</td>
                    {% endif %}
                    <td class="disablable"> <!-- class disablable pour lr javascript , écouter uniquement le parent des boutons plutot que d'écouter tous les boutons -->
                        <a class="btn btn-primary" href="{{ path('troiswa_back_product_info',{idprod: product.id} ) }}">info</a>
                        <a class="btn btn-success" href="{{ path('troiswa_back_product_edit',{idprod: product.id} ) }}">Edit</a>
                        <a class="btn btn-danger" href="{{ path('troiswa_back_product_delete',{idprod: product.id} ) }}">delete</a>
                        <!-- test active -->
                        {% if product.active == 1 %}
                            <a class="btn btn-warning" href="{{ path('troiswa_back_product_change_active',{idprod: product.id,changeAction: product.active} ) }}">désactiver</a>
                        {% endif %}

                        {% if product.active == 0 %}
                            <a class="btn btn-success" href="{{ path('troiswa_back_product_change_active',{idprod: product.id,changeAction: 0} ) }}">activer</a>
                        {% endif %}

                        <!-- Confirmation de suppression en inline via le popup du navigateur -->
                        <!-- <a class="btn btn-danger" href="{{ path('troiswa_back_product_delete',{idprod: product.id} ) }}" onclick="return confirm('Etes-vous sur de supprimer cet article?')">Supprimer</a> -->
                    </td>
                    {% if product.categ is null %}
                        <td class="warning">Acune catégorie est associée à ce produit</td>
                    {% else %}
                        <td class="success">{{ product.categ.title }}</td>
                    {% endif %}
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenu %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/confirmRemove.js') }}"></script>

{% endblock javascripts %}